body{
    padding: 6px;
    margin:6px;
    

}


.FlexRow{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    
}

.fa-solid
{
    display: block;
}

.cardImgBox{
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 25px;
    width:429px;
    height: 220px;

}
.cardTitle{
    width:250px;
    font-size: 24px;
    font-weight: 600;
    color: aquamarine;


}
.cardDec{
    font-size: 14px;
    color: blue;
    width: 200px;
    

}

.cardContain{
    width:200px;


}


.cardDate{
    color:burlywood;
    font-size: 16px;

}

.Advertistement{
    margin-top: 30px;
    height: 509px;
    width:300px;
    border: 2px solid black;
}
.homeLatestTxt{
    margin:30px 0px;
    display: flex;
    font-size: 25px;
    width:auto;
    font-weight: 600;
    flex-direction: row;


}

.TxtBorder{
    margin-right: 5px;
    width:40px;
    border-bottom: 3px solid chartreuse;


}
.fa-solid{
    display: none;
}
.navLinkFlex li{
   
    display:inline-block;
    flex-direction: row;
    margin-right: 30px;
}

.tittleHead{
    margin-top: 12px;
    flex-direction: row; 
    justify-content: center;
     display: flex;

}

.longText{
    transform: rotate(-90deg);
    margin-right: -7px;
    font-weight: 620;
}


.headOfText{
    font-weight: 600;
    font-size: 28px;
}

.headerNavLink {
    text-decoration: none;
    color: black;
}

.headerNavLink:hover{
    color: red;
}

.header{
    border-bottom: 1px solid blue;
    margin-bottom: 40px;
}


.FeatureArtBox{
    flex-direction: row;
    display: flex;
    width: 100%;
}

.FeatureBox1{
    position: relative;
    height: 380px;
    width:806px;
    font-size: 26px;
    color:seagreen;


}


.FeatureImgBox1{
    position: absolute;
    width: 806px;
    height: 400px ;
    left: 0px;
    top: 3px;
    border-radius: 15px;
}

.box1Txt{
    position: absolute;
    top: 50px;
    left: 100px;
}

.box1TxtDate{
    position: absolute;
    bottom: 9px;
    left: 14px;
}
.FeatureBox2{
    color: red;
    font-size: 26px;
    position: relative;
    height: 188px;
    width: 500px;
    margin-top: 3px;
    margin-left: 14px;
}

.FeatureImgBox2{
    position: absolute;
    border-radius: 20px;
    left: 0px;
    top: 0px;
    width: 500px;
    height: 186px;

}


.box2TxtDate{
    position: absolute;
    bottom: 6px;
    left: 12px;
}
.box2Txt{
    position: absolute;
    left: 13px;
    top:8px
}
.loadMore{
    border: none;
    border-radius: 5px;
    color:blue;
    height: 20px;
    margin: 5px 20px 9px;
    padding: 3px;

}

.marginLeft{
    margin-left: 45px;

}

.artVerticleImg{
    height: 350px;
    width: 700px;
}



.topArtContainer{
    width: 300px;
    height: 250px;

}
.FlexRow1{
    justify-content: space-between;
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;

}

.topArtImgBox{
    border-radius: 3px;
    margin-right: 10px;
    height: 150px;
    width: 100%;

}
.top1ArtTitle{
    border-radius: 3px;
    font-weight: 600;
    margin-right: 10px;
}

.topArtIndex{
border-radius: 3px;
color: grey;
font-size: 25px;
height: 70px;
width: 60px;
margin-right: 10px;
}

.topArtImgBox2{
    height: 80px;
    width: 80px;
}


.articleHtext{
    border-bottom: 3px solid greenyellow;
    margin-right: 5px;

}

.spacebetween{
    justify-content: space-between;
}
/* .background{
    background-color: bisque;
} */

.ClapFixed {
    left: 64px;
    position: absolute;
    top: 355px;
}

div {
    display: block;
}
.readJustifyCenter {
    justify-content: center;
}

.borderShadow {
    border: 2px solid hsla(0,6%,87%,.5);
    margin-top: 30px;
    padding: 5px;
}

.txtAlignCenter {
    color: gray;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
}

.jstSpaceBeetben {
    justify-content: space-between;
}

.fab:before {
    cursor: pointer;
}
.fa-facebook-square:before {
    content: "\f082";
    margin-left: 30px;
}

.fab {
    font-family: "Font Awesome 6 Brands";
    font-weight: 400;
}


.readArtImg {
    border-radius: 12px;
    height: 200px;
    margin: 20px;
    width: 310px;
}

.ReadArtBox {
    width: 350px;
}

.homeLatestTxt {
    display: flex;
    flex-direction: row;
    font-size: 25px;
    font-weight: 600;
    margin: 30px 0;
}
.articleHtext {
    border-bottom: 3px solid pink;
    margin-right: 5px;
}

@media screen and (max-widt:"390px"){

    .fa-solid
    {
        display: block;
    }
      
    .navbar li
    {
        display: block;
        flex-direction: column;
        justify-content: center;
    }
    

  
    
} 